<footer id="footer" class="w-full px-12 md:(pl-32,pr-22)">
  <div class="flex items-center justify-between border-t-1 border-nord3 pt-8 pb-12">
    <!-- Logo -->
    <a href="/" class="text-nord15 flex items-center space-x-1">
      <img src="assets/logo.svg">
      <span class="text-nord6 font-bold text-xl">encre-css</span>
    </a>

    <a href="https://gitlab.com/encre-org/encre-css" class="btn-filled btn-icon !block hover:bg-nord1 focus:outline-none">
      <span class="text-3xl i-charm-gitlab block"></span>
    </a>
  </div>
</footer>
