<div class="hero w-full h-screen min-h-80 pt-21 flex items-center justify-center overflow-hidden bg-[url('assets/hero-pattern.svg')]">
  <div class="content relative md:grid grid-cols-2 gap-5">
    <div class="space-y-8">
      <div class="space-y-6">
        <h2 class="[&>b]:text-nord15 text-5xl font-black leading-14">
          A <b>fast</b> and <b>flexible</b> css framework built in Rust
        </h2>
        <p class="text-lg"><i>encre-css</i> provides css utility classes with high performance generation</p>
      </div>

      <div class="space-y-4">
        <div class="flex flex-col space-x-0 space-y-3 sm:space-y-0 sm:space-x-3 sm:flex-row">
          <a href="https://docs.rs/encre-css/latest/encre_css/plugins/index.html" class="btn-primary">Is it like Tailwind?</a>
          <a href="https://docs.rs/encre-css/latest/encre_css/#a-brief-introduction-to-utility-first-css-frameworks" class="btn-secondary">A CSS framework?</a>
        </div>
        <div class="space-x-4 [&>a]:(text-md,text-nord4) flex">
          <a class="before:(i-simple-icons-rust,mr-1) inline-link flex items-center" href="https://crates.io/crates/encre-css">crates.io</a>
          <a class="before:(i-simple-icons-docsdotrs,mr-1) inline-link flex items-center" href="https://docs.rs/encre-css">docs.rs</a>
        </div>
      </div>
    </div>

    <div
      class="hidden text-nord4 flex-col justify-center font-semibold leading-[2rem] space-y-12 [&_b]:(bg-nord15/15,px-1,py-0.5,rounded-md,text-nord15,font-semibold) [&_span]:line-through py-8 md:(py-0,flex)">
      <div class="p-3 rounded-md backdrop-blur-sm border-2 border-nord2 shadow-md rotate-16 skew-x-5">
        <span>#navbar</span> <b>flex</b> <b>justify-between</b> <b>items-center</b> <b>px-4</b> <b>py-2</b>
        <b>md:px-8</b>
        <b>bg-gray-800</b> <b>text-white</b>
      </div>
      <div class="p-3 rounded-md backdrop-blur-sm border-2 border-nord2 shadow-md">
        <span>.card</span> <b>shadow-lg</b> <b>p-4</b> <b>rounded-lg</b> <b>hover:shadow-xl</b>
        <b>transition-shadow</b>
        <b>duration-300</b> <b>dark:bg-gray-800</b> <b>dark:text-gray-200</b>
      </div>
    </div>
  </div>
</div>
