<header id="header" class="absolute w-full py-4 md:!bg-transparent">
  <div class="content flex justify-between">
    <!-- Logo -->
    <a href="/" class="text-nord15 flex items-center space-x-1">
      <img src="assets/logo.svg">
      <span class="text-nord6 font-bold text-xl">encre-css</span>
    </a>

    <x-navbar />
  </div>
</header>
