<button id="nav-menu-btn" aria-controls="navbar" aria-expanded="false"
  class="btn-filled btn-icon hover:bg-nord1 md:hidden sibling:[&\[aria-expanded='false'\]]:hidden">
  <span class="i-charm-menu-kebab text-2xl block"></span>
</button>

<nav id="navbar" class="w-full bg-nord0 absolute left-0 top-full z-40 py-6 px-4 border-t border-nord1 space-y-2 flex-col items-unset justify-end space-x-0 flex md:!flex md:flex-row md:items-center md:relative md:bg-transparent md:space-x-2 md:w-auto md:top-[unset] md:left-[unset] md:border-none md:py-0 md:px-0 md:space-y-0">
  <a href="https://docs.rs/encre-css/latest/encre_css/index.html" class="btn-filled hover:bg-nord1 !block focus:outline-none">
    Docs
  </a>
  <a href="https://docs.rs/encre-css/latest/encre_css/selector/index.html" class="btn-filled hover:bg-nord1 !block focus:outline-none">
    Learn
  </a>
  <a href="https://gitlab.com/encre-org/encre-css" class="btn-filled btn-icon !block hover:bg-nord1 focus:outline-none">
    <span class="text-3xl i-charm-gitlab block"></span>
  </a>
</nav>

<script>
  const btn = document.getElementById("nav-menu-btn");
  const header = document.getElementById("header");

  btn.onclick = function () {
    if (btn.getAttribute("aria-expanded") != "true") {
      btn.setAttribute("aria-expanded", "true");
      header.style.backgroundColor = "#2E3440";
      return;
    }

    header.style.backgroundColor = "";
    btn.setAttribute("aria-expanded", "false");
  }
</script>
